.mblvd-stories
  overflow hidden

  &__story
    position relative
    height 156.25rem

  &__sticky
    position absolute
    top 0

  &__image-container
    position relative
    height 100vh

  &__image
    position absolute
    top 0
    left 0
    height 100%
    width auto

  &__text
    position absolute
    top 50%
    background #fff
    z-index 100
    max-width 25rem
    margin-left 10%
    padding 2rem 2rem 0

  &__story-p
    margin-bottom 2rem
