<header class="mblvd-hero">
  <picture>
    <!-- <source src="" type="video/"> -->
    <img src="assets/images/pulitzer.jpg" class="mblvd-hero__image" />
  </picture>
  <div class="mblvd-hero__text">
    <h1 class="mblvd-hero__hed">{{copy.hed}}</h1>
    <h2 class="mblvd-hero__dek">{{copy.dek}}</h2>
  </div> 
</header>
